body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card, .card:hover {
    border-radius: 20px;
  }

  .post-image {
    margin-top: -15px;
    border-radius: 20px;
  }

.post-category{
  margin-top: -30px;
}

.card-upper-text {
  margin-top: -5px;
}

.nav-profile {
  margin-bottom: -13px;
}

.info {
  margin-top: 5px;
}
